{{!-- @v "1.0.beta3" --}}
{{!-- @use "put" --}}
{{!-- @field "data.foo" type="string" --}}
{{!-- @option "bar" for="data.foo" label="Bar" --}}
{{!-- @option "baz" for="data.foo" label="Baz" --}}

<h3 class="text-xl">
  <b>Hello World!</b>
</h3>

<br>

<p>
  {{ put data.foo "No Data" }}
</p>
